<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="PhishPond" connectionString="data source=(local);Initial Catalog=PhishPond;Password=empires;Persist Security Info=True;User ID=PhishPond;Application Name=PhishMarket;"
      providerName="System.Data.SqlClient" />
    <add name="PhishPond.Properties.Settings.PhishPondConnectionString"
      connectionString="Data Source=danserver2k3;Initial Catalog=PhishPond;Persist Security Info=True;User ID=PhishPond;Password=empires"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>