<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Yaf.Properties.Settings.YAFConnectionString" connectionString="Data Source=DANSERVER2K3;Initial Catalog=YAF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>